<html ng-app="App">
    <head>
        <!-- nocache -->
        <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
        <META HTTP-EQUIV="EXPIRES" CONTENT="0">
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
        <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 1901 11:12:01 GMT">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>MyStock 我的投資組合管理</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
        <script>
            var App = angular.module('App', []);
            App.controller('AjaxCtrl', function ($scope, $http) {
                // 查詢
                $scope.read = function () {
                    $http.get('/SSH/rest/servlet/mystock').then(function (res) {
                        console.log(res.data);
                        $scope.result = res.data;
                        $scope.mystocks = res.data;
                    });
                };
                // 新增
                $scope.create = function () {
                    $http({
                        method: 'POST',
                        url: '/SSH/rest/servlet/mystock',
                        params: {
                            symbol: $scope.symbol,
                            cost: $scope.cost,
                            shares: $scope.shares
                        }
                    }).success(function (data, status, headers) {
                        console.log(data);
                        console.log(status);
                        $scope.result = data;
                        $scope.read();
                    }).error(function (data, status, headers) {
                        console.log(status);
                    });
                };
            });
        </script>
    </head>
    <body style="padding: 15px" ng-controller="AjaxCtrl">
        <a href="http://www.runoob.com/angularjs/angularjs-tutorial.html">Angular 中文教學</a>
        <form class="pure-form" method="post" >
            <fieldset>
                <legend>MyStock 我的投資組合管理</legend>
                <input type="text" placeholder="ID 序號" readonly name="id" id="id" ng-model="id"><p/>
                <input type="text" placeholder="請輸入股票代號" name="symbol" id="symbol" ng-model="symbol"><p/>
                <input type="text" placeholder="請輸入買進成本" name="cost" id="cost" ng-model="cost"><p/>
                <input type="text" placeholder="請輸入買進股數" name="shares" id="shares" ng-model="shares"><p/>
                <button type="button" class="pure-button pure-button-primary" ng-click="read()">查詢</button>
                <button type="button" class="pure-button pure-button-primary" ng-click="create()">新增</button>
            </fieldset>
        </form>
        
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>symbol</th>
                    <th>cost</th>
                    <th>shares</th>
                    <th>tDate</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="x in mystocks">
                    <td>{{ x.id}}</td>
                    <td>{{ x.symbol}}</td>
                    <td>{{ x.cost}}</td>
                    <td>{{ x.shares}}</td>
                    <td>{{ x.tDate}}</td>
                </tr>
            </tbody>
        </table>
        <p>
        <div style="height: 30px" ng-model="result">{{result}}</div>
    </body>
</html>